// packages section start
#packages {
  .packages {
    .pack-left {
      margin-top: 250px;
    }
    .pack-right {
      margin-top: 100px;
    }

    .card {
      width: 237px;
      height: 292px;
      border-color: rgba(0, 0, 0, 0.07);
      background-color: rgba(255, 255, 255, 1);

      .card-top {
        width: 100%;
        img {
          width: 70px;
          height: 76px;
          margin-left: 40px;
          margin-top: 40px;
        }
        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.1px;
          color: rgba(37, 43, 66, 1);
          margin-left: 40px;
          margin-top: 20px;
          width: 157px;
        }
      }
      .card-bottom {
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: rgba(115, 115, 115, 1);
          margin-left: 40px;
          width: 132px;
        }
      }
      .red-line {
        width: 50px;
        height: 2px;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
// packages section end

#packages,
#courses {
  height: 750px;

  .red-line {
    width: 94px;
    height: 7px;
    background-color: #e74040;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
    width: 351px;
  }
  a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23a6f0;
  }
}

// courses section start
#courses {
  .course-right {
    margin-top: 190px;
    margin-left: 50px;
  }
  .course-left {
    margin-top: 100px;
  }

  .couese-img {
    width: 100%;
    img {
      width: 610px;
    }
  }
}
// courses section end

// products section starr
#products {
  margin-bottom: 160px;

  .pro-cards {
    align-items: flex-start;
    gap: 15px;
    margin-top: 80px;
    flex-wrap: nowrap;
    .pro-card {
      cursor: pointer;
      display: flex;
      width: 313px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 0px;
      border: 0px;

      .pro-card-img {
        position: relative;
        width: 313px;
        height: 270px;
        flex-shrink: 0;
        border-radius: 0px;
      }

      .sale {
        position: absolute;
        display: inline-flex;
        padding: 0px 10px;
        align-items: center;
        border-radius: 3px;
        background: #e74040;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin-top: 20px;
        margin-left: 30px;
      }

      .pro-actions {
        position: absolute;
        display: inline-flex;
        align-items: flex-start;
        gap: 10px;
        margin: 206px 86.5px 2px 86.5px;

        .pro-icon {
          width: 40px;
          height: 40px;
          padding: 10px;
          border-radius: 44.786px;
          background: #ffffff;
        }
      }

      .pro-card-body {
        padding: 10px 25px 25px 25px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;

        .title {
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          h5 {
            color: #23a6f0;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.2px;
            margin-top: 7px;
          }

          .title-rating {
            padding: 5px;
            align-items: center;
            gap: 5px;
            border-radius: 20px;
            background: #252b42;
            display: flex;

            i {
              width: 16px;
              height: 16px;
              color: rgba(255, 206, 49, 1);
            }
            span {
              color: #ffffff;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              letter-spacing: 0.2px;
            }
          }
        }

        h5 {
          color: #252b42;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.1px;
        }

        p {
          color: #737373;
          font-size: 13.5px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }

        .sales {
          gap: 10px;
          i {
            width: 16px;
            height: 16px;
            color: #737373;
          }
          h6 {
            color: #737373;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.2px;
          }
        }

        .prices {
          padding: 5px 3px;
          align-items: flex-start;
          gap: 5px;

          .first-price {
            color: #bdbdbd;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.1px;
          }
          .second-price {
            color: #40bb15;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.1px;
          }
        }

        .card-bottom {
          padding-bottom: 15px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;

          i {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
          }
          .fa-clock {
            color: #23a6f0;
          }
          .fa-chart-bar {
            color: #e77c40;
          }
          .fa-chart-line {
            color: #40bb15;
          }
          span {
            color: #737373;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.2px;
          }
        }

        .card-button {
          padding: 10px 20px;
          align-items: center;
          gap: 10px;
          border-radius: 37px;
          border: 1px solid #23a6f0;
          button {
            border: none;
            background: #ffffff;
            a {
              color: #23a6f0;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.2px;
            }
          }
        }
      }
    }
  }
}
// products section end

.comment-card {
  .card-user {
    h6 {
      color: #23a6f0;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
      margin-bottom: 0;
    }
    p {
      color: #252b42;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.2px;
    }
  }
}

#products,
#comments {
  .top-h {
    color: #23a6f0;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  h2 {
    color: #ffffff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
  }
  .top-p {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

// comments section start
#comments {
  .comment-card {
    display: flex;
    width: 309px;
    margin-right: 15px;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #ffffff;
    .card-content {
      padding: 30px;
      gap: 15px;
      align-self: stretch;
      .card-stars {
        align-items: flex-start;
        gap: 5px;
        i {
          color: #f3cd03;
        }
      }
      p {
        color: #737373;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        width: 159px;
      }
      .card-user {
        height: 50px;
        gap: 15px;
        .user-img {
          width: 50px;
          height: 50px;
          flex-shrink: 0;
          border-radius: 50px;
        }
      }
    }
  }
}
// comments section end

// joinus section start
#joinus {
  display: flex;
  width: 1050px;
  padding: 120px 0px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  flex-shrink: 0;
  .joinus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h6 {
      color: #23a6f0;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.2px;
    }
    h2 {
      color: #ffffff;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }
    p {
      color: #ffffff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      text-align: center;
    }
  }

  .subscribe {
    width: 688px;
    height: 270px;
    padding-bottom: 0px;
    margin-left: 190px;
    input {
      width: 591px;
      height: 58px;
      padding-left: 20px;
    }
    .input-btn {
      display: flex;
      width: 117px;
      height: 58px;
      padding: 15px 22.5px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 0px 5px 5px 0px;
      border: 1px solid #e6e6e6;
      background: #23a6f0;
    }
    input[value="Subscribe"] {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
  }
}
// joinus section end
