header .header .btn-blue {
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  width: 100px;
  height: 42px;
  border-radius: 5px;
  background-color: #23a6f0;
}
header .header .header-top .nav {
  height: 58px;
  width: 815px;
}
header .header .header-top .nav li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
header .header .header-top .nav li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
  color: #fff !important;
}
header .header .header-top .nav li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header .header .header-top .nav li a:hover:after {
  width: 100%;
  left: 0;
}
header .header .header-top .nav a {
  color: #ffffff;
}
header .header .header-top .nav .nav-logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  padding: 20px 0px 0px 120px;
}
header .header .header-top .nav .nav-links {
  padding: 20px 0px 0px 70px;
}
header .header .header-top .nav .nav-reg {
  padding: 20px 0px 0px 170px;
}
header .header .header-top .nav .nav-reg .btn-item {
  padding: 15px 15px 15px 15px;
}
header .header .header-bottom {
  height: 600px;
  margin-top: 95px;
}
header .header .header-bottom .header-left {
  margin-top: 55px;
}
header .header .header-bottom .header-left h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #23a6f0;
}
header .header .header-bottom .header-left h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 20px 0px 20px -5px;
}
header .header .header-bottom .header-left h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 400px;
}
header .header .header-bottom .header-img {
  width: 100%;
}
header .header .header-bottom .header-img img {
  width: 610px;
}
header .header .header-bottom .btns button {
  height: 50px;
}
header .header .header-bottom .btns .btn-header button {
  color: #ffffff;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.2px;
  border-radius: 5px;
}
header .header .header-bottom .btns .btn-blue {
  width: 170px;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}
header .header .header-bottom .btns .btn-blue:hover {
  background-color: #252b42 !important;
  border-color: #23a6f0;
  color: #23a6f0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #fafafa;
}
footer .footer-top {
  height: 338px;
  padding: 0px 130px;
}
footer .footer-top .footer {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
footer .footer-top .footer h3 {
  color: #252b42;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}
footer .footer-top .footer p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
footer .footer-top .footer .social-media {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
footer .footer-top .footer .social-media i {
  color: #23a6f0;
  margin-right: 20px;
}
footer .footer-top .footer table th {
  color: #252b42;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}
footer .footer-top .footer table td {
  color: #737373;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
footer .footer-bottom {
  flex-direction: column;
  height: 76px;
  padding: 0px 195px 2px 195px;
  align-self: stretch;
}
footer .footer-bottom p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#packages .packages .pack-left {
  margin-top: 250px;
}
#packages .packages .pack-right {
  margin-top: 100px;
}
#packages .packages .card {
  width: 237px;
  height: 292px;
  border-color: rgba(0, 0, 0, 0.07);
  background-color: rgb(255, 255, 255);
}
#packages .packages .card .card-top {
  width: 100%;
}
#packages .packages .card .card-top img {
  width: 70px;
  height: 76px;
  margin-left: 40px;
  margin-top: 40px;
}
#packages .packages .card .card-top h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
  margin-left: 40px;
  margin-top: 20px;
  width: 157px;
}
#packages .packages .card .card-bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgb(115, 115, 115);
  margin-left: 40px;
  width: 132px;
}
#packages .packages .card .red-line {
  width: 50px;
  height: 2px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#packages,
#courses {
  height: 750px;
}
#packages .red-line,
#courses .red-line {
  width: 94px;
  height: 7px;
  background-color: #e74040;
}
#packages h2,
#courses h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
#packages p,
#courses p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 351px;
}
#packages a,
#courses a {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}

#courses .course-right {
  margin-top: 190px;
  margin-left: 50px;
}
#courses .course-left {
  margin-top: 100px;
}
#courses .couese-img {
  width: 100%;
}
#courses .couese-img img {
  width: 610px;
}

#products {
  margin-bottom: 160px;
}
#products .pro-cards {
  align-items: flex-start;
  gap: 15px;
  margin-top: 80px;
  flex-wrap: nowrap;
}
#products .pro-cards .pro-card {
  transition: all 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
  display: flex;
  width: 313px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0px;
  border: 0px;
}
#products .pro-cards .pro-card:hover {
  transition: all 0.5s;
  transform: translateY(-20px);
}
#products .pro-cards .pro-card .pro-card-img {
  position: relative;
  width: 313px;
  height: 270px;
  flex-shrink: 0;
  border-radius: 0px;
}
#products .pro-cards .pro-card .sale {
  position: absolute;
  display: inline-flex;
  padding: 0px 10px;
  align-items: center;
  border-radius: 3px;
  background: #e74040;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 20px;
  margin-left: 30px;
}
#products .pro-cards .pro-card .pro-actions {
  position: absolute;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  margin: 206px 86.5px 2px 86.5px;
}
#products .pro-cards .pro-card .pro-actions .pro-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 44.786px;
  background: #ffffff;
  transition: all 1s;
}
#products .pro-cards .pro-card .pro-actions .pro-icon:hover {
  transition: all 0.3s;
  background-color: #000000;
  color: #ffffff;
}
#products .pro-cards .pro-card .pro-card-body {
  padding: 10px 25px 25px 25px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
#products .pro-cards .pro-card .pro-card-body .title {
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
#products .pro-cards .pro-card .pro-card-body .title h5 {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 7px;
}
#products .pro-cards .pro-card .pro-card-body .title .title-rating {
  padding: 5px;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background: #252b42;
  display: flex;
}
#products .pro-cards .pro-card .pro-card-body .title .title-rating i {
  width: 16px;
  height: 16px;
  color: rgb(255, 206, 49);
}
#products .pro-cards .pro-card .pro-card-body .title .title-rating span {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
}
#products .pro-cards .pro-card .pro-card-body h5 {
  color: #252b42;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
#products .pro-cards .pro-card .pro-card-body p {
  color: #737373;
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#products .pro-cards .pro-card .pro-card-body .sales {
  gap: 10px;
}
#products .pro-cards .pro-card .pro-card-body .sales i {
  width: 16px;
  height: 16px;
  color: #737373;
}
#products .pro-cards .pro-card .pro-card-body .sales h6 {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
#products .pro-cards .pro-card .pro-card-body .prices {
  padding: 5px 3px;
  align-items: flex-start;
  gap: 5px;
}
#products .pro-cards .pro-card .pro-card-body .prices .first-price {
  color: #bdbdbd;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
#products .pro-cards .pro-card .pro-card-body .prices .second-price {
  color: #40bb15;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
#products .pro-cards .pro-card .pro-card-body .card-bottom {
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
#products .pro-cards .pro-card .pro-card-body .card-bottom i {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
#products .pro-cards .pro-card .pro-card-body .card-bottom .fa-clock {
  color: #23a6f0;
}
#products .pro-cards .pro-card .pro-card-body .card-bottom .fa-chart-bar {
  color: #e77c40;
}
#products .pro-cards .pro-card .pro-card-body .card-bottom .fa-chart-line {
  color: #40bb15;
}
#products .pro-cards .pro-card .pro-card-body .card-bottom span {
  color: #737373;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
}
#products .pro-cards .pro-card .pro-card-body .card-button {
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 37px;
  border: 1px solid #23a6f0;
}
#products .pro-cards .pro-card .pro-card-body .card-button button {
  border: none;
  background: #ffffff;
}
#products .pro-cards .pro-card .pro-card-body .card-button button a {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.comment-card .card-user h6 {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 0;
}
.comment-card .card-user p {
  color: #252b42;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.2px;
}

#products .top-h,
#comments .top-h {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
#products h2,
#comments h2 {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}
#products .top-p,
#comments .top-p {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

#comments .comment-card {
  display: flex;
  width: 309px;
  margin-right: 15px;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: #ffffff;
}
#comments .comment-card:hover {
  transition: all 0.5s;
  transform: translateY(20px);
}
#comments .comment-card .card-content {
  padding: 30px;
  gap: 15px;
  align-self: stretch;
}
#comments .comment-card .card-content .card-stars {
  align-items: flex-start;
  gap: 5px;
}
#comments .comment-card .card-content .card-stars i {
  color: #f3cd03;
}
#comments .comment-card .card-content p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 159px;
}
#comments .comment-card .card-content .card-user {
  height: 50px;
  gap: 15px;
}
#comments .comment-card .card-content .card-user .user-img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
}

#joinus {
  display: flex;
  width: 1050px;
  padding: 120px 0px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  flex-shrink: 0;
}
#joinus .joinus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#joinus .joinus h6 {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
#joinus .joinus h2 {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
#joinus .joinus p {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}
#joinus .subscribe {
  width: 688px;
  height: 270px;
  padding-bottom: 0px;
  margin-left: 190px;
}
#joinus .subscribe input {
  width: 591px;
  height: 58px;
  padding-left: 20px;
}
#joinus .subscribe .input-btn {
  display: flex;
  width: 117px;
  height: 58px;
  padding: 15px 22.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  background: #23a6f0;
}
#joinus .subscribe input[value=Subscribe] {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}

@media (max-width: 991px) {
  header .header-bottom {
    margin-top: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .header-bottom .header-left {
    margin-top: 0px;
  }
  header .header-bottom .header-left h5 {
    text-align: center;
  }
  header .header-bottom .header-left h1 {
    text-align: center;
  }
  header .header-bottom .header-left h4 {
    text-align: center;
    width: auto !important;
  }
  header .header-bottom .header-img {
    width: 100%;
  }
  header .header-bottom .header-img img {
    margin: auto;
    width: 500px !important;
  }
  header .header-bottom .btns .btn-header {
    margin: auto;
  }
  header .navbar-desktop {
    display: none !important;
  }
  header .mobile-wrapper {
    display: block !important;
  }
  main {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  main #packages {
    margin-top: 0px !important;
  }
  main #packages .pack-right {
    display: block !important;
    margin-left: 50px;
  }
  main #packages .pack-right .card-mobile {
    display: block !important;
    margin-left: 50px;
    margin-top: 30px;
  }
  main #packages .pack-right .card {
    width: 250px;
  }
}
@media (min-width: 992px) {
  header .navbar-desktop {
    display: block !important;
  }
  header .mobile-wrapper {
    display: none !important;
  }
}
.mobile-wrapper .mobile-container {
  height: 270px;
}

.content {
  background: transparent;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.content nav {
  background: transparent;
  border-bottom: 1px solid transparent;
  height: 60px;
  position: relative;
}
.content .nav-links {
  display: block;
  position: absolute;
  top: 60px;
  left: 50px;
  width: 100%;
}
.content .nav-links::before {
  content: "";
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.3s;
}
.content .nav-links li {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s;
  list-style-type: none;
}
.content .nav-links li a {
  background: #252b42;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 20px;
  text-align: left;
  width: 100%;
  transition: all 0.3s;
}
.content .nav-links li a:hover {
  color: #23a6f0;
}

input[type=checkbox] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
input[type=checkbox]:checked + label {
  border: 4px solid #fff;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}
input[type=checkbox]:checked + label::before {
  background: #fff;
  top: 8px;
  left: 4px;
  width: 12px;
}
input[type=checkbox]:checked + label::after {
  background: #fff;
  opacity: 1;
  top: 8px;
  left: 4px;
  visibility: visible;
  width: 12px;
}
input[type=checkbox]:checked + label:hover {
  border-color: #23a6f0;
}
input[type=checkbox]:checked + label:hover::before, input[type=checkbox]:checked + label:hover::after {
  background: #23a6f0;
}
input[type=checkbox]:checked ~ .nav-links::before {
  opacity: 1;
  visibility: visible;
}
input[type=checkbox]:checked ~ .nav-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

label {
  background: none transparent;
  border: 4px solid #fff;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}
label::before {
  background: #fff;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}
label::after {
  background: coral;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #252b42;
}
body main {
  padding-left: 130px;
  padding-right: 130px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */