header .header .btn-blue {
  font-size: 10px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  width: 100px;
  height: 42px;
  border-radius: 5px;
  background-color: #23a6f0;
}
header .header .header-top .nav {
  height: 58px;
  width: 815px;
}
header .header .header-top .nav li a {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}
header .header .header-top .nav a {
  color: #ffffff;
}
header .header .header-top .nav .nav-logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  padding: 20px 0px 0px 120px;
}
header .header .header-top .nav .nav-links {
  padding: 20px 0px 0px 70px;
}
header .header .header-top .nav .nav-reg {
  padding: 20px 0px 0px 170px;
}
header .header .header-top .nav .nav-reg .btn-item {
  padding: 15px 15px 15px 15px;
}
header .header .header-bottom {
  height: 682px;
  margin-top: 95px;
}
header .header .header-bottom .header-left {
  margin-top: 55px;
}
header .header .header-bottom .header-left h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #23a6f0;
}
header .header .header-bottom .header-left h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 20px 0px 20px -5px;
}
header .header .header-bottom .header-left h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 400px;
}
header .header .header-bottom .header-img {
  width: 100%;
}
header .header .header-bottom .header-img img {
  width: 610px;
}
header .header .header-bottom .btns button {
  height: 50px;
}
header .header .header-bottom .btns .btn-left,
header .header .header-bottom .btns .btn-right {
  border-radius: 5px;
}
header .header .header-bottom .btns .btn-left button {
  color: #ffffff;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.2px;
}
header .header .header-bottom .btns .btn-right .btn-blue {
  background-color: #252b42 !important;
  border-color: #23A6F0;
}
header .header .header-bottom .btns .btn-blue {
  width: 170px;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}

#packages {
  height: 849px;
}
#packages .packages .pack-left {
  margin-top: 250px;
}
#packages .packages .pack-right {
  margin-top: 100px;
}
#packages .packages .red-line {
  width: 94px;
  height: 7px;
  background-color: #e74040;
}
#packages .packages h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
#packages .packages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  width: 351px;
}
#packages .packages a {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #23a6f0;
}
#packages .packages .card {
  width: 237px;
  height: 292px;
  border-color: rgba(0, 0, 0, 0.07);
  background-color: rgb(255, 255, 255);
}
#packages .packages .card .card-top {
  width: 100%;
}
#packages .packages .card .card-top img {
  width: 70px;
  height: 76px;
  margin-left: 40px;
  margin-top: 40px;
}
#packages .packages .card .card-top h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgb(37, 43, 66);
  margin-left: 40px;
  margin-top: 20px;
  width: 157px;
}
#packages .packages .card .card-bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgb(115, 115, 115);
  margin-left: 40px;
  width: 132px;
}
#packages .packages .card .red-line {
  width: 50px;
  height: 2px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#packages .packages .card-third {
  margin-left: -100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #252b42;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */